.main-carousel {
  background: black;
}

.carousel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 25vh; /*ADJUST THE HEIGHT MEDIA QUERY TO FIT IMAGES BETTER*/
  margin: 10px 3px;
  border-radius: 15px;
}

.flickity-slider {
  display: flex;
  align-items: center;
}